.title {
    font-size: 60px;
    text-align: center;
    margin: 3rem 2rem;
}

.comp-logo img {
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.company {
    max-width: 20rem;
    margin: 2rem 3rem;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 10px 100px rgba(224, 172, 0, 0.25);
    border-radius: 20px;
    flex-wrap: wrap;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.company:hover {
    transform: scale(1.02);
    box-shadow: 0px 20px 50px rgba(255, 200, 0, 0.4);
}

.txt-cont .heading {
    font-size: 25px;
    color: gold;
}

.txt-cont .role,
.duration {
    font-size: 15px;
    font-weight: 700;
}

.txt-cont .heading,
.role,
.duration {
    padding-left: 20px;
}

.company .description div {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .title {
        font-size: 1.8rem;
        margin: 0.2rem 0.2rem;
    }
    
    .company {
        margin-top: 1.7rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
    }

    .comp-logo img {
        border: 2px solid rgb(0, 0, 0);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: contain;
        margin-left: 0.2rem;
    }

    .txt-cont .heading,
    .role,
    .duration {
        padding-left: 0.25rem;
    }

    .txt-cont .heading {
        font-size: 1rem;
        transform: translateY(6px);
        padding-bottom: 0.15rem
    }

    .txt-cont .role,
    .duration {
        font-size: 0.6rem;
    }

    .company .description div {
        padding-top: 8px;
        font-size: 0.5rem;
        margin-right: 5px;
        font-weight: normal;
    }
}