.projects {
    display: grid;
    margin: 0.2rem 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.projects-title {
    font-size: 60px;
    text-align: center;
    margin: 3rem 2rem;
    margin-bottom: 2rem;
    color: white;
}

.proj-name {
    max-width: 25rem;
    box-shadow: 0px 0px 10px 5px rgba(224, 172, 0, 0.25);
    padding: 20px 40px;
    margin: 0.5rem 0.5rem;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}

.proj-name:hover {
    transform: scale(1.02);
    box-shadow: 0 20px 50px rgba(255, 200, 0, 0.4);
}

.proj-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.proj-title {
    font-size: 25px;
    color: gold;
}

.proj-name .github-link a {
    font-weight: normal;
    font-size: 15px;
    
}

.proj-desc {
    font-size: 15px;
    padding-top: 10px;
    font-weight: normal;
}

.proj-skills {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 0.5rem;
}

@media (max-width: 767px) {

    .projects-title {
        font-size: 1.8rem;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
        margin: 0.1rem 0rem;
    }

    .proj-title {
        font-size: 1rem;
    }

    .proj-name {
        margin: 0.3rem 1rem;
        padding: 20px;
        min-width: 10rem;
    }

    .proj-name .github-link a {
        font-size: 0.6rem;
        font-weight: normal;
    }

    .proj-skills {
        font-size: 0.6rem;
    }

    .proj-desc {
        padding-top: 8px;
        font-size: 0.5rem;
        margin-right: 1px;
    }
}
